/JavaApplication15/nbproject/private/
/Group_Lab_1/build/
/Group_Lab_1/nbproject/private/
/Group 1 Midterm/dist/
/Group 1 Midterm/nbproject/private/
/Group 1 Midterm/build/
/Group_1_Midterm/nbproject/private/
/Group_1_Midterm_1/nbproject/private/
